.App {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.buildings {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
}

.buildings p, a {
  width: 13%;
}
